body{
    height: 100vh;
    box-sizing: border-box;
    padding: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    width: 50%;
}
