body{
    height: 100vh;
    box-sizing: border-box;
    margin: none;
    padding: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQClgOqYWMUamgHCMcC3MoQhnU-_crEjbhTY0xDOrXHYZ5NH06y&usqp=CAU');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    
}
header {
    color: chocolate; text-align: center; font-size: 0.5in; font-style: italic;
   }

#masterKeydiv{
    display: flex;
}
#addAccount{
    display: flex;

}
#addAccount input{
    display: flex;
}

#searchAccount{
    display: flex;

}
#accounts{
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}
input{
    border: skyblue solid;
    margin-right: 10px;
}

button{
    background-color: teal;
    border: none;
    padding: 5px;
    margin: 2px black solid;
    cursor: pointer;
}